/**
 * Template styles
 */

/* Archive header */
.archive-header {

	--max-width: 1160px;
	--width: calc(100% - 2.5rem);


	section.featured-post {
		margin: auto auto -1rem;
		max-width: var(--max-width);
		padding-bottom: 0;
		position: relative;
		width: var(--width);
		z-index: 1;

		li {
			width: 100%;
		}
	}

	.yoast-breadcrumbs {
		margin: 5.75rem auto 0;
		max-width: var(--max-width);
		width: var(--width);

		a {
			color: var(--wp--preset--color--black);
		}

		@media ( min-width: 768px ) {
			margin-top: 9.5rem;
		}
	}

	.archive-header__buttons {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2.5rem 0 0.5rem;
		max-width: var(--max-width);
		width: var(--width);

		@media (min-width: 768px) {
			flex-direction: row;
			margin-bottom: 5rem;
		}

	}

	.archive-header__subscribe {
		margin: auto;
		width: 70%;

		@media (min-width: 768px) {
			margin: auto auto auto 0;
			width: auto;
		}

		.wp-element-button {
			background-color: rgba(0, 0, 0, 0);
			border: 1px solid var(--wp--preset--color--black);
			color: var(--wp--preset--color--black);
			line-height: 24px;
			padding: 0.725rem 4.5rem;
			transition: background-color 300ms ease-in-out, border 300ms ease-in-out, color 300ms ease-in-out;
			width: 100%;

			&:hover {
				background-color: var(--wp--preset--color--red);
				border: 1px solid var(--wp--preset--color--red);
				color: var(--wp--preset--color--white);
			}
		}
	}

	.archive-header__title {
		margin: 2.25rem auto 0;
		max-width: var(--max-width);
		width: var(--width);

		@media ( min-width: 768px ) {
			margin-top: 5rem;
		}
	}

	.term-dropdown {
		padding-top: 1.25rem;
		width: 70%;

		@media (min-width: 768px) {
			padding-top: 0;
			width: 21.25rem;
		}

		&::after {
			top: calc(50% + 0.75rem);

			@media (min-width: 768px) {
				top: 50%;
			}
		}

		select {
			width: 100%;
		}
	}
}

