<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:template-part {"slug":"background-circle","area":"uncategorized","className":"wp-block-template-part__background-circle"} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"scroll-to-top","area":"uncategorized"} /-->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->